<!doctype html>
<html lang="en">
  <head>
    <title>Signin Template · Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom styles for this template
    {% load static %}
    link rel="stylesheet" type="text/css" href="{% static 'fileName.css' %}"> -->
      <style type="text/css">
        h1 {
          margin:50px;
        }
      </style>
  </head>
  <body class="text-center">
    <div>
        <h1 class="main-border">Identity Manager:</h1>
        <a href="{% url 'list-people'%}">View All People in Database</a> <br>
        <a href="{% url 'list-enterprises'%}">View All Enterprises in Database</a><br>
        <a href="{% url 'list-governments'%}">View All Governments in Database</a><br>
    </div>
  </body>
</html>